.footer-container{
    background-color: rgb(76, 74, 74);
    color: white;
    display: flex;
    padding: 40px;
    padding-left: 60px;
    justify-content: space-between;
    align-items: start;  
    margin-top: 40px;
}

.footer-info{
   max-width: 35vw;
   padding: 20px;
   line-height: 25px;
}

.footer-info ul{
    list-style: none;
    margin-top: 10px;
    font-weight: 400;
}

.footer-info li{
    cursor: pointer;
}
.footer-left-text{
    margin: 10px 0px;
}

.footer-info h3{
    margin-bottom: 10px;
}

.footer-info p{
    font-weight: 400; 
}

.social-media-icon img{
    margin-right: 10px;
}

.footer-info li:hover{
    opacity: 0.8;
}

.social-media-icon img:hover{
    opacity: 0.8;
}

.footer-hr{
    position: relative;
    bottom: 30px;
}

@media only screen and (max-width: 720px){
    .footer-container{
        flex-direction: column;
        justify-content: flex-start;
    }
    .footer-left-text{
        font-size: 16px;
    }
    .footer-info{
        max-width: 100vw;
     }
}

@media only screen and (max-width: 360px){
    .footer-container{
        flex-direction: column;
        align-items: flex-start;
    }
    
}